<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/8bc03e1a54.js"></script>
    <title>Apple Music Presence</title>
</head>
<body>
    <div class="container mt-5 mb-5">
        <h1 class="changeColor">Settings</h1>
        <div class="card w-100 invisible">
            <div class="card-body">

            </div>
        </div>
    </div>

    <script>window.$ = window.jQuery = require('jquery');</script>

    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script type="text/javascript">
$(document).ready(function () {
  const { ipcRenderer } = require('electron')
  ipcRenderer.on('ready', (event, message) => {
    console.log(message)
  })
  ipcRenderer.on('dark', (event, message) => {
    if (message === true) {
      $('body').addClass('bg-dark').removeClass('bg-light')
      $('.card').addClass('bg-dark').removeClass('bg-light')
      $('.changeColor').addClass('text-light').removeClass('text-dark')
    } else {
      $('body').addClass('bg-light').removeClass('bg-dark')
      $('.card').addClass('bg-light').removeClass('bg-dark')
      $('.changeColor').addClass('text-dark').removeClass('text-light')
    }
  })
})
    </script>
</body>
</html>
